
@media only screen and (max-width: 1920px) and (max-height: 969px) {
    html{
        background: white;
    }
    html body {
        background: url("back.jpg");
        background-size:cover ;}
    html body .par {
        width: 469px;
    }
    html body h1 {

        padding-top: 20%;
    }

    html body h2 {



    }

    html body h3 {



    }

    #singlebutton {
        left: 15% !important;
        top: -135% !important;
    }
    .para{
        left: 22%!important;
    }


    html body .box {
        position: absolute;
        top: 48%;
        left: 77%;
        width: 35%;
    }
    html body  .submit{
        position: absolute;
        top: 92%;
        left: 80% !important;
    }
    html body  .forget{
        position: absolute;
        top: 72% !important;
        left: 62% !important;
        display: inline !important;
        width: 53%;
        font-size: 10px;
    }
}
@media only screen and (max-width: 1440px) {
    html{
        background: white;
    }
    html body {
        background: url("back.jpg");
        background-size:cover ;}
    html body .par {
        width: 347px;
    }

    #singlebutton {
        left: 15% !important;
        top: 17% !important;
    }
    .para{
        left: 22%!important;
    }


    html body .box {
        position: absolute;
        top: 48%;
        left: 77%;
        width: 35%;
    }
    html body  .submit{
        position: absolute;
        top: 92%;
        left: 80% !important;
    }
    html body  .forget{
        position: absolute;
        top: 77% !important;
        left: 60% !important;
        display: inline !important;
        width: 53%;
        font-size: 10px;
    }
}
@media only screen and (max-width: 1366px) {
    html{
        background: white;
    }
    html body {
        background: url("back.jpg");
        background-size:cover ;}
    html body .par {
        width: 347px;
    }

    #singlebutton {
        left: 15% !important;
        top: 17% !important;
    }
    .para{
        left: 22%!important;
    }


    html body .box {
        position: absolute;
        top: 48%;
        left: 77%;
        width: 35%;
    }
    html body  .submit{
        position: absolute;
        top: 92%;
        left: 80% !important;
    }
    html body  .forget{
        position: absolute;
        top: 77% !important;
        left: 60% !important;
        display: inline !important;
        width: 53%;
        font-size: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    html{
        background: white;
    }
    html body {
        background: url("768.jpg");
        background-size:cover ;}
    html body .par {
        width: 347px;
    }

    #singlebutton {
        left: 6% !important;
        top: 17% !important;
    }


    html body .box {
        position: absolute;
        top: 48%;
        left: 77%;
        width: 35%;
    }
    html body  .submit{
        position: absolute;
        top: 88%;
        left: 19% !important;
    }
    html body  .forget{
        position: absolute;
        top: 65% !important;
        left: 52% !important;
        display: inline !important;
        width: 52%;
        font-size: 10px;
    }
}
@media only screen and (max-width: 768px) {
    html{
        background: white;
    }
    html body {
        background: url("768.jpg");
        background-size:cover ;}
    html body .par {
        display: none;
        width: 234px;
    }

    #singlebutton {
        left: 7% !important;
        top: -581% !important;
    }

    html body .box {
        position: absolute;
        top: 48%;
        left: 77%;
        width: 35%;
    }
    html body  .submit{
        position: absolute;
        top: 88%;
        left: 19% !important;
    }
    html body  .forget{
        position: absolute;
        top: 65% !important;
        left: 55% !important;
        display: inline !important;
        width: 52%;
        font-size: 10px;
    }
}
@media only screen and (max-width: 425px) {
    html {
        background: white;
    }

    html body {
        background: linear-gradient(royalblue, dodgerblue, royalblue);
        background-size: cover;
    }

    html body p {
        visibility: hidden;
    }

    #singlebutton {
        visibility: hidden;
    }

    html body h1 {
        visibility: hidden;

    }

    html body h2 {
        visibility: hidden;

    }

    html body h3 {
        visibility: hidden;

    }
     html body .box {
        position: absolute;
        top: 48%;
        left: 45%;
         width: 69%;
    }
    html body  .submit{
        position: absolute;
        top: 88%;
        left: 27% !important;
    }
    html body  .forget{
        position: absolute;
        top: 67% !important;
        left: 40% !important;
        display: inline !important;
        width: 52%;
        font-size: 10px;
    }
}
@media only screen and (max-width: 375px) {
    html {
        background: white;
    }

    html body {
        background: linear-gradient(royalblue, dodgerblue, royalblue);
        background-size:cover ;
    }
    html body p {
        visibility: hidden;
    }

    #singlebutton {
        visibility: hidden;
    }

    html body h1 {
        visibility: hidden;

    }

    html body h2 {
        visibility: hidden;

    }

    html body h3 {
        visibility: hidden;

    }
    html body .box {
        position: absolute;
        top: 48%;
        left: 45%;
        width: 69%;
    }
    html body  .submit{
        position: absolute;
        top: 88%;
        left: 27% !important;
    }
    html body  .forget{
        position: absolute;
        top: 65% !important;
        left: 37% !important;
        display: inline !important;
        width: 52%;
        font-size: 10px;
    }

}

@media only screen and (max-width: 320px) {
    html{
        background: white;
    }
    html body p {
        visibility: hidden;
    }

    #singlebutton {
        visibility: hidden;
    }

    html body h1 {
        visibility: hidden;

    }

    html body h2 {
        visibility: hidden;

    }

    html body h3 {
        visibility: hidden;

    }
    html body .box {
        position: absolute;
        top: 48%;
        left: 45%;
        width: 69%;
    }
    html body  .submit{
        position: absolute;
        top: 88%;
        left: 19% !important;
    }
    html body  .forget{
        position: absolute;
        top: 63% !important;
        left: 33% !important;
        display: inline !important;
        width: 52%;
        font-size: 10px;
    }
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: url("back.jpg");
    position: absolute;
    background-repeat:no-repeat ;
    background-size: cover;
    overflow: hidden;

}
html body  .forget{
    position: absolute;
    top: 74% ;
    left: 61% ;
    display: inline ;
    width: 52%;
    font-size: 10px;
}

.btn{
    display: flex;
    align-items: center;
    left:17%;
    top: 75%;
    position: absolute;
}
.hexa{
    display: flex;
    align-items: center;
    left:24%;
    top: 20%;
    position: absolute;
    color: cornsilk;
    font-family: Calibri;
}
.hexa2{
    display: flex;
    align-items: center;
    left:24%;
    top: 30%;

    position: absolute;
    color: cornsilk;
    font-family: Calibri;
    color: silver;
}
.hexa3{
    display: flex;
    align-items: center;
    left:24%;
    top: 28%;
    position: absolute;
    color: cornsilk;
    font-family: Calibri;
    font-size: 30px;

}
.para{
    left: 22%!important;
    top: 67%!important;
    position: absolute;
    font-family: Calibri;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    color: dodgerblue;



}
form{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: 20%;
    padding-top: 10px;
    border: none;
    background-color:transparent ;

}
#singlebutton{
    background-color: dodgerblue;
    transition: 0.9s;
    font-family: Calibri;
    font-size: 15px;
}
/*__________________________________form____*/
.box {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    /*background: rgba(0,0,0,.8);*/
    box-sizing: border-box;
    /*box-shadow: 0 15px 25px rgba(0,0,0,.5);*/
    border-radius: 10px;
    background-color: transparent;
}
.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #FFF;
    text-align: center;
}

.box .inputBox {
    position: relative;
}
.box .inputBox input {
    width: 600%;
    padding: 10px 0;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.btn-primary{
    top:87%;

}
.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FFF;
    pointer-events: none;
    transition: .5s;
    animation: LabelOnLoad 1s forwards 0s ease;
}
@keyframes LabelOnLoad{
    0%{
        transform: rotate(0) translateY(-19px);
        opacity: 0;
    }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
    }
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -19px;
    left:0;
    color: black;
    font-size: 12px;
}
.box input[type='submit'] {
    background: transparent;
    color: white;
    background: transparent;
    padding: 10px 54px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 14px;
    left: 10%;
    border-color: white;
    transition: 0.9s;
}
.box input[type='submit']:hover {
    background-color: white;
    color: black;

}
@media(max-width: 720px){
    .box {
        width: 80%;
    }
}
#singlebutton:hover{
    color: black;
    background-color: white;
    transition: 0.9s;

}
